body{
    background-color: lavenderblush;
    max-width: 70%;
    margin: 0 auto;
}
nav { 
    display: flex;
    justify-content: space-around;
  } 

#client-list{
    font-size: 1.15rem;
}
#client-list ol {
    list-style-type: decimal;
}